.wrapper {
  display: grid;
  gap: 30px;
  grid-template-rows: min-content auto;
  max-width: 768px;
  padding-top: 100px;
  margin: 0 auto;
  background-color: #fff;
  height: 100%;
}

.messageItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(128, 128, 128, 0.1);
  max-width: 90%;
  margin: 0 auto;
}

input {
  margin-left: 5%;
}
